.section{
	perspective: 300px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.section:nth-child(1){
	background-image: url(../images/bg2.png);
}
.section:nth-child(2){
	background-image: url(../images/bg3.png);
}
.section:nth-child(3){
	background-image: url(../images/bg4.png);
}
.section:nth-child(4){
	background-image: url(../images/bg5.png);
}
.section:nth-child(5){
	background-image: url(../images/bg6.png);
}
.section:nth-child(6){
	background-image: url(../images/bg7.png);
}
.section:nth-child(7){
	background-image: url(../images/bg8.png);
}
.section:nth-child(8){
	background-image: url(../images/bg9.png);
}
.section:nth-child(9){
	background-image: url(../images/bg10.png);
}
.section:nth-child(10){
	background-image: url(../images/bg11.png);
}
.section:nth-child(11){
	background-image: url(../images/bg12.png);
}
.section:nth-child(12){
	background-image: url(../images/bg13.png);
}
.section:nth-child(13){
	background-image: url(../images/bg14.png);
}
.section:nth-child(14){
	background-image: url(../images/bg15.png);
}
.section:nth-child(15){
	background-image: url(../images/bg16.png);
}
.section:nth-child(16){
	background-image: url(../images/bg17.png);
}

.section img{
	width: 100%;
	height: 100%;
	display: none;
}

.show{
	width: 100%;
	height: 100%;
	animation: imgs, big;
	animation-duration: 0.3s, 1s;
	animation-timing-function: linear, linear;
	animation-delay:0s, 1s;
	animation-iteration-count: 1, 1;
}

img.sjx{
	display: block;
	width: 100%;
	height: 80%;
	position: absolute;
	top: 10px;
	animation: imgs, sjx;
	animation-duration: 1s, 1s;
	animation-timing-function: linear, linear;
	animation-delay:0s, 1s;
	animation-iteration-count: 1, infinite;
}
img.word{
	display: block;
	width: 100%;
	height: 80%;
	position: absolute;
	top: 0px;
	animation: imgs 1s;
}
img.niu{
	display: block;
	width: 100%;
	height: 80%;
	position: absolute;
	top: 2px;
	left: -5px;
	animation: imgs, niu;
	animation-duration: 1s, 1s;
	animation-timing-function: linear, linear;
	animation-delay:0s, 1s;
	animation-iteration-count: 1, infinite;
}
@keyframes big{
	0% { transform: translateZ(0px); }
	50% { transform: translateZ(30px); }
	100% { transform: translateZ(0px); }
}
@keyframes imgs{
	0% { transform: translateZ(300px); }
	50% { transform: translateZ(-50px); }
	100% { transform: translateZ(0px); }
}
@keyframes sjx{
	0% {transform: rotate(0deg);}
	10% {transform: rotate(-3deg);}
	20% {transform: rotate(0deg);}
	30% {transform: rotate(-3deg);}
	40% {transform: rotate(0deg);}
	50% {transform: rotate(-3deg);}
	60% {transform: rotate(0deg);}
	100% {transform: rotate(0deg);}
}
@keyframes niu{
	50% { transform: translateZ(30px); }
	100% { transform: translateZ(0px); }
}